<!-- views/check_order.ejs -->
<div class="form-header">
<a href="/" class="red link btn">Back to Main Page</a>
<a href="/feedback" class="red link btn">Report Issue / Provide Feedback</a>
</div>
<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Enter Order Number</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/check_order" novalidate>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="form-field <%= errors.order_number ? 'form-field-invalid' : '' %>">
    <label for="order_number">Order Number</label>
    <input class="input" id="order_number" name="order_number" value="<%= data.order_number %>" />
    <% if (errors.order_number) { %>
      <div class="error"><%= errors.order_number.msg %></div>
    <% } %>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Search</button>
  </div>
</form>

<div class="results" style="width: 50%">

<% if (data.order_number) { %>
<div class="orders col" style="width: 100%">
<h4>Search result for order <font color="blue"><%= data.order_number %></font>:</h4>
<% if (items) { items.map((i) => { %>
<% if (i["Order Number"] !== null && i["Order Number"] !== undefined) { %>
<details open><summary>Order: <%= i["Order Number"] %></summary>
<div class="property-list">
<% Object.keys(i).filter(k => k[0] != '_').sort().map((k) => { %>
<hr/>
<% if (i[k] !== null && i[k] !== undefined) { %>
<div class="property">
<div class="property-label"><b><%= k %></b>: </div>
<% if (k === 'Tracking Number') { %>
<div class="property-value"><pre><a href="http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=<%= i[k] %>"><%= i[k] %></a></pre></div>
<% } else { %>
<div class="property-value"><pre><%= i[k] %></pre></div>
<% } %>
</div>
<% } %>
<% }) %>
</div>
</details>
<% } else { %>
<h4>Couldn't find Order <font color="red"><%= data.order_number %></font></h4>
<% } %>
<% })} %>
</div>
<% } %>

</div>