<!-- views/check_order.ejs -->
<div class="form-header">
<a href="/" class="red link btn">Back to Main Page</a>
<a href="/feedback" class="red link btn">Report Issue / Provide Feedback</a>
</div>
<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Enter One Or More Search Queries</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/check_order" novalidate>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="form-field <%= errors.SalesOrder ? 'form-field-invalid' : '' %>">
  <!-- Order Number -->
    <label for="SalesOrder">Order Number</label>
    <input class="input" id="SalesOrder" name="SalesOrder" value="<%= data.SalesOrder %>" />
    <% if (errors.SalesOrder) { %>
      <div class="error"><%= errors.SalesOrder.msg %></div>
    <% } %>
  </div>
  <!-- Mark For -->
    <label for="MarkFor">Mark For</label>
    <input class="input" id="MarkFor" name="MarkFor" value="<%= data.MarkFor %>" />
    <% if (errors.MarkFor) { %>
      <div class="error"><%= errors.MarkFor.msg %></div>
    <% } %>
  </div>
  <!-- PO Number -->
    <label for="CustomerPoNumber">PO Number</label>
    <input class="input" id="CustomerPoNumber" name="CustomerPoNumber" value="<%= data.CustomerPoNumber %>" />
    <% if (errors.CustomerPoNumber) { %>
      <div class="error"><%= errors.CustomerPoNumber.msg %></div>
    <% } %>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Search</button>
  </div>
</form>

<div class="results" style="width: 50%">

<% if (result) { %>
<div class="orders col" style="width: 100%">
<h4>Search result for Order <font color="blue"><%= data.order_number %></font>:</h4>

<details><summary><%- result["__DISPLAY__"] %></summary>
<div class="property-list">
<% Object.keys(result).filter(k => k[0] != '_').map((k) => { %>
<hr/>
<div class="property">
<div class="property-label"><b><%= k %></b>: </div>
<% if (k === 'Tracking Number') { %>
<div class="property-value"><pre><a href="http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=<%= result[k] %>"><%= result[k] %></a></pre></div>
<% } else if (Array.isArray(result[k])) { %>
<div class="property-value"><pre><%= result[k].join('\n') %></pre></div>
<% } else { %>
<div class="property-value"><pre><%= result[k] %></pre></div>
<% } %>
</div>
<% }) %>
</div>
</details>

</div>
<% } else { %>
<% Object.keys(data).filter(k => k !== '_csrf').map((k) => { var d = data[k]; if (d) { %>
<h3><font color="Red">Couldn't find data by '<%= d %>'</font></h3>
<% }}) %>
<% } %>

</div>