<!-- views/check_rma.ejs -->
<div class="form-header">
<a href="/" class="red link btn">Back to Main Page</a>
<a href="/feedback" class="red link btn">Report Issue / Provide Feedback</a>
</div>
<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Enter RMA</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/check_rma" novalidate>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="form-field <%= errors.rma_number ? 'form-field-invalid' : '' %>">
    <label for="rma_number">RMA Number</label>
    <input class="input" id="rma_number" name="rma_number" value="<%= data.rma_number %>" />
    <% if (errors.rma_number) { %>
      <div class="error"><%= errors.rma_number.msg %></div>
    <% } %>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Search</button>
  </div>
</form>

<div class="results" style="width: 50%">

<% if (data.rma_number) { %>
<div class="rmas col" style="width: 100%">
<h4>Search result for RMA <font color="blue"><%= data.rma_number %></font>:</h4>

<% if (result) { %>
<details><summary><%- result["__DISPLAY__"] %></summary>
<div class="property-list">
<% Object.keys(result).filter(k => k[0] != '_').map((k) => { %>
<hr/>
<div class="property">
<div class="property-label"><b><%= k %></b>: </div>
<div class="property-value"><pre><%= result[k] %></pre></div>
</div>
<% }) %>
</div>
</details>

<% } else { %>
<h4>Couldn't find RMA <font color="red"><%= data.rma_number %></font></h4>
<% } %>
</div>
<% } %>

</div>