<!-- views/search.ejs -->
<div class="form-header">
<a href="/" class="red link btn">Back to Main Page</a>
<a href="/feedback" class="red link btn">Report Issue / Provide Feedback</a>
</div>
<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Enter Search Options</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/search" novalidate>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <% for (var field in search_fields) { let f = search_fields[field]; %>
  <div class="form-field <%= errors[f.title] ? 'form-field-invalid' : '' %>">
    <label><%= f.title %></label>
    <input class="input" id="<%= f.id %>" name="<%= f.id %>" value="<%= data[f.title] %>" />
    <% if (errors[f.title]) { %>
      <div class="error"><%= errors[f.title].msg %></div>
    <% } %>
  </div>
  <% } %>
  <div class="form-actions">
    <button class="btn" type="submit">Search</button>
  </div>
</form>

<div class="results" style="width: 50%">

<div class="orders col" style="width: 100%">
<h4>Search result for<br>
<% Object.keys(data).filter(k => k !== '_csrf').map((k) => { var d = data[k]; if (d) { %>
<font color="Blue"><%= k %>: '<%= d %>'</font><br>
<% }}) %>
</h4>
<% if (result) { result.map((i) => { %>
<details><summary><%- i["__DISPLAY__"] %></summary>
<div class="property-list">
<% Object.keys(i).filter(k => k[0] != '_').map((k) => { %>
<hr/>
<div class="property">
<div class="property-label"><b><%= k %></b>: </div>
<% if (k === 'Tracking Number') { %>
<div class="property-value"><pre><a href="http://wwwapps.ups.com/WebTracking/track?track=yes&trackNums=<%= i[k] %>"><%= i[k] %></a></pre></div>
<% } else if (Array.isArray(i[k])) { %>
<div class="property-value"><pre><%= i[k].join('\n') %></pre></div>
<% } else { %>
<div class="property-value"><pre><%- i[k] %></pre></div>
<% } %>
</div>
<% }) %>
</div>
</details>
<% })} %>
</div>

</div>
