<!-- views/search.ejs -->
<div class="form-header">
<a href="/" class="red link btn">Back to Main Page</a>
</div>
<div class="form-header">
  <% if (Object.keys(errors).length === 0) { %>
    <h2>Select Search Options</h2>
  <% } else { %>
    <h2 class="errors-heading">Oops, please correct the following:</h2>
    <ul class="errors-list">
      <% Object.values(errors).forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<form method="post" action="/search" novalidate>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <!--
  <div class="form-field <%= errors.searchTable ? 'form-field-invalid' : '' %>">
    <label>Table</label>
    <select name="searchTable">
      <% for (var table in tables) { let t = tables[table]; %>
      <option value="<%= t.title %>"<% if (t.selected) { %> selected<% } %>><%= t.title %></option>
      <% } %>
    </select>
  </div>
  <div class="form-field <%= errors.searchField ? 'form-field-invalid' : '' %>">
    <label>Search Field</label>
    <select name="searchField">
      <% for (var field in fields) { let f = fields[field]; %>
      <option value="<%= f.title %>"<% if (f.selected) { %> selected<% } %>><%= f.title %></option>
      <% } %>
    </select>
  </div>
  <div class="form-field <%= errors.query ? 'form-field-invalid' : '' %>">
    <label for="query">Search Query</label>
    <input class="input" id="query" name="query" value="<%= search.query %>" />
    <% if (errors.query) { %>
      <div class="error"><%= errors.query.msg %></div>
    <% } %>
  </div>
  -->
  <% for (var field in fields) { let f = fields[field]; %>
  <div class="form-field <%= errors[f.title] ? 'form-field-invalid' : '' %>">
    <label><%= f.title %></label>
    <input class="input" id="<%= f.id %>" name="<%= f.id %>" value="<%= data[f.title] %>" />
    <% if (errors[f.title]) { %>
      <div class="error"><%= errors[f.title].msg %></div>
    <% } %>
  </div>
  <% } %>
  <div class="form-actions">
    <button class="btn" type="submit">Search</button>
  </div>
</form>

<% if (customer !== null && customer !== undefined) { %>

<div class="">
<h4>Customer <font color="blue"><%= customer.Name %></font></h4>
</div>

<div class="">

<% if (orders) { orders.map((i) => { %>
<details><summary>Order: <%= i["Order Number"] %></summary>
<ul>
<% Object.keys(i).map((k) => { %>
<li><b><%= k %></b>: <%= i[k] %></li>
<% }) %>
</ul>
</details>
<% })} %>

<% if (rmas) { rmas.map((i) => { %>
<details><summary>RMA: <%= i["RMA Number"] %></summary>
<ul>
<% Object.keys(i).map((k) => { %>
<li><b><%= k %></b>: <%= i[k] %></li>
<% }) %>
</ul>
</details>
<% })} %>

<% if (devices) { devices.map((i) => { %>
<details><summary>Device: <%= i["Serial Number"] %></summary>
<ul>
<% Object.keys(i).map((k) => { %>
<li><b><%= k %></b>: <%= i[k] %></li>
<% }) %>
</ul>
</details>
<% })} %>

</div>

<% } %>
